body {
  display: grid;
  justify-content: center;
}

.board {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 10px !important;
  grid-template-columns: repeat(3, max-content);
  width: 400px;
}
