button {
  width: 100px;
  height: 100px;
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-x {
  color: green;
}

.button-o {
  color: red;
}
