* {
  margin: 0;
}

.header {
  text-align: center;
}

.section-reset {
  display: flex;
  justify-content: center;
}

.reset-button {
  width: 200px;
  font-size: 2rem;
  background-color: red;
  color: white;
}

.score-board {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  font-size: 1.5rem;
}

.message {
  width: 200px !important;
  height: auto;
  font-size: 2rem;
  background-color: green !important;
  color: white !important;
}
